<!DOCTYPE html>
<html>
<head>
  <title>Spaceart</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="dGuRZY6ioTCgNvZRC9kpBxWvZE8skCkDCW52v1PbcTM" />

</head>
<body>
	<div id="wrap">
	<!--- Old Nav 
	<%= link_to "Home", root_path %>
	<%= link_to "About", about_path %>
	<%= link_to "Contact", contact_path %> -->
<%= render 'layouts/header' %>
<%= yield %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52168434-1', 'bitcoinspaceart.com');
  ga('send', 'pageview');

</script>

<div id="google">
	<a href="https://plus.google.com/116322423792936545197" rel="publisher">Google+</a>
</div>

<!-- Google Code for Remarketing Tag -->

<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 969632363;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/969632363/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>


</div>

<div id="footer">
      <div class="container">
        <p class="text-muted credit">Bitcoin SpaceArt: Established 2014.</p>
        <ul>
        	<li><a href="http://www.bitcoinspaceart.com/about">About Bitcoin SpaceArt</a></li>
        	<li><a href="http://www.bitcoinspaceart.com/faq">Frequently Asked Questions</a></li>
        	<li><a href="http://www.bitcoinspaceart.com/contact">Need Help? Contact Us</a></li>
        </ul>
        <div id="twitterbutton">
        	<a href="https://twitter.com/BitcoinSpaceArt" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @BitcoinSpaceArt</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		</div>
      </div>
 </div>

</body>
</html>
